<div class="container">
    <div class="box">
        <div class="banner">
            <img src="/assets/Black Panther Movie Poster Quality Glossy Print Photo Art Chadwick Boseman, Michael B_ Jordan Sizes.jpg" alt="Blackpanther" >
            <div class="author">
                <p>Author: Michael Bay</p>
                <p>18/04/2000</p>
            </div>
           
        </div>
        <div class="title">
            <h1>Marvel studio</h1>
            <div class="content">Genre: Drama Action</div>
            <div class="content">Produced by : JOE AND ANOTHONY RUSSD</div>
            <div class="content">Direrted by JOE AND MILK</div>
            <div class="content">Starring: TOM HOLLAND CIARA BRAVO</div>
        </div>
    </div>

</div>
