<div class="container">
  <form>
    <div class="box">
      <div class="line-1">
        <div class="inside">
          <label for="fistname" class="label">Fist Name</label>
          <br />
          <input type="text" class="control" id="fistname" />
        </div>
  
        <div class="inside">
          <label for="lastname" class="label">Last Name</label>
          <br />
          <input type="text" class="control" id="lastname" />
        </div>
      </div>
      <div class="line-2">
        <div class="dropdown">
          <div class="inside">
            <div class="selected">
              <span class=""><i class="fa-solid fa-caret-down"></i>Gender</span>
            </div>
            <div class="selected-list">
              <div class="selected-list-item">Male</div>
              <div class="selected-list-item">Female</div>
              <div class="selected-list-item">Other</div>
            </div>
          </div>
        </div>
        <div class="inside">
          <label for="Age" class="label">Age</label>
          <br />
          <input type="number" class="control" id="Age" />
        </div>
      </div>
      <div class="line-3">
        <div class="inside">
          <label for="email" class="label">Email</label>
          <br />
          <input type="email" class="control" id="email" />
        </div>
        <div class="inside">
          <label for="Phone" class="label">Phone</label>
          <br />
          <input type="number" class="control" id="Phone" />
        </div>
      </div>
      <div class="line-4">
        <div class="inside">
          <label for="Item1" class="label">Item1</label>
          <br />
          <input type="text" class="control" id="Item1" />
        </div>
        <div class="inside">
          <label for="Item2" class="label">Item2</label>
          <br />
          <input type="text" class="control" id="Item2" />
        </div>
        <div class="inside">
          <label for="Item3" class="label">Item3</label>
          <br />
          <input type="text" class="control" id="Item3" />
        </div>
      </div>
    </div>
   
  </form>
</div>
