* {
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Fredoka', sans-serif;
      font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}
.container {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 30px;
}

.card {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding: 20px;
  box-sizing: border-box;
}

.media-scroller {
  display: flex;
  gap: 10px;
  border-radius: 10px;

}
.media-element a img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}
.card::-webkit-scrollbar {
    display: none;
}
p{
    color:white;
    font-family: 'Fredoka', sans-serif;
    padding-top: 10px;
}
h1{
  color: wheat;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}
h2{
    color:wheat;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
   
}
.favourite{
    width: 40%;
    height: 100%;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
}
.favourite::-webkit-scrollbar{
    display: none;
}

.element a img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.media-element:hover{
  transform: scale(1.1);
}
.media-element{
  transition-duration: 0.3s;
}
