<div class="container">
    <h1>Trending Film</h1>
  <div class="card">
    <div class="media-scroller">
      <div class="hover">
        <div class="media-element">
          <a routerLink="/banner"><img src="/assets/Black Panther Movie Poster Quality Glossy Print Photo Art Chadwick Boseman, Michael B_ Jordan Sizes.jpg" alt="Blackpanther" ></a>
          <p>Black Panther</p>
          <p>Genre:Action</p>
        </div>


         
      </div>
      <div class="hover">
      <div class="media-element">
        <a><img src="/assets/Stranger Things by Sam Green - Home of the Alternative Movie Poster -AMP-.png" /></a>
        <p>Stranger Things</p>
        <p>Genre: Action</p>
      </div>
      </div>
      <div class="hover">
      <div class="media-element">
        <a><img src="/assets/alternativ.jpg" /></a>
        <p>Alternative</p>
        <p>Genre: Drama</p>
      </div>
    </div>
      <div class="hover">
      <div class="media-element">
        <a><img src="/assets/ironman.png" /></a>
        <p>Iron Man</p>
        <p> Genre: Thriling</p>
      </div>
    </div>
      <div class="hover">
      <div class="media-element">
        <a><img src="/assets/endgame.jpg" /></a>
        <p>End Game</p>
        <p>Genre: Power</p>
      </div>
    </div>
      <div class="hover">
      <div class="media-element">
        <a><img src="/assets/Joker.jpg" /></a>
        <p>Joker</p>
        <p>Genre: Psycology</p>
      </div>
    </div>
    </div>
  </div>
  <h2>Favourite</h2>

    <div class="favourite">
      <div class="media-scroller">
        <div class="element">
          <a><img src="/assets/ironman.png" /></a>
          <p>Iron Man</p>
          <p> Genre: Thriling</p>
        </div>
        <div class="element">
          <a><img src="/assets/endgame.jpg" /></a>
          <p>End Game</p>
          <p>Genre: Power</p>
        </div>
        <div class="element">
          <a><img src="/assets/Joker.jpg" /></a>
          <p>Joker</p>
          <p>Genre: Psycology</p>
        </div>
    </div>

  
</div>
